*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body {
    background: white;
}
.elements {
    border: 1px solid #eee3e3;
    display: block;
    position: relative;
    width: 450px;
    height: 100%;
    margin: 25px auto;
}

.element-left h1{
    text-align: center;
    margin: 20px 0;
}

.edit {
    border: 3px solid whitesmoke;
    border-radius: 15px;
    padding: 30px 20px;
    font-size: 20px;
    font-weight: bold;
}
.edit tr {
    display: block;
    margin-bottom: 20px;
}

.edit tr td {
    position: relative;
    width: 110px;
}

.edit tr input {
    position: relative;
    width: 200px;
    height: 30px;
}


button {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    background-color: #9de3cf;
    text-align: center;
    width: 100%;
    text-decoration-color: black;
    font-weight: bold;
    font-size: 20px;
}

.element-right {
    text-align: center;
    border: 1px solid white;
    background: #9de3cf;
    color: black;
}

a:hover {background-color:#FF704D;}
a:active {background-color: #4d7fff;}

button:hover {background-color:#FF704D;}
button:active {background-color: #4d7fff;}

.element-last {
    background: #f5dada;
    border: 3px solid whitesmoke;
    border-radius: 15px;
    width: 80%;
    height: 100%;
    margin: 15px auto;
    padding: 20px;
    text-align: center;
}

.element-last li {
    padding: 8px;
    text-align: left;
    list-style: -none;
}